@import '~bootstrap/scss/bootstrap';

.contactForm {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 8px;
            font-weight: bold;
        }

        input,
        textarea {
            margin-bottom: 16px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        button {
            @extend .btn-primary;
            padding: 10px 16px;
            cursor: pointer;
        }
    }
}
