.product-item {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 12px;
}

.avatar {
    width: 300px;
    height: 200px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    object-fit: cover;
    position: relative;

    &:hover .btn-product {
        display: flex;
        width: 150px;
        margin: auto;
        margin-top: 20%;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }
    &:hover::after {
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        opacity: 1;
        visibility: visible;
    }
    &::after {
        background-color: rgba(0, 0, 0, 0.5);
        content: '';
        inset: 0;
        opacity: 0;
        position: absolute;
        transition: all 0.3s ease 0s;
        visibility: hidden;
    }
}
.product-name {
    padding: 0 8px;
}

.link-name {
    padding: 12px 0 0 0;
    font-size: 1.6rem;
}

.students-count {
    display: flex;
    align-items: center;
    padding: 0 8px 30px 12px;
}

.quantity {
    margin-left: 2px;
    position: relative;
    top: -2px;
}

.btn-product {
    position: relative;
    z-index: 2;
    display: none;
}
